.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #63B3eD;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.flex-item{
    border-radius:50%;
}

img {
    width:50%;
    height:50%;
}

.firstpic{
    border-radius: 50%;
}

article {
    float: left;
    width: 60%;
    margin-right: 5%;
  }

  aside {
    float: right;
    width: 35%;
    color: #48BB47;
  }

.firstside{
    background-color:#E2E8F0;
}


  footer {
    clear:both;
    background: #2C5282;
    color: white;
    padding: 10px;
    
  }